#divmadre {
    width: 800px;
    height: 100px;
    background: #F1948A;
    margin: 20px;
    padding: 30px;
    border: 10px solid blueviolet;
}

.divhija {
    width: 800px;
    height: 70px;
    background: white;
    border: 5px dotted black;
}


/** 
Escribir el CSS necesario aqui
*/